# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Database
*.db
*.sqlite3

# Alembic cache
alembic/__pycache__/

# Logs
logs/

# Uploads
uploads/

# Tests cache
.pytest_cache/